body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mycontainer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    /* grid-template-columns: repeat(2,auto);*/
}

.mybox {
    background-color: indianred;
    height: 50vh;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(6,auto);
    /*justify-content: center;
    align-items: center;*/
    gap: 20px;
}
